body{
    background-image: url(photo/bg.gif);
    background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.navbar-custom{

    background-color: rgb(5, 6, 58);

}
li{
    text-color: white;
    font-size: 1.2em;
    font-weight: 600;
}
img{
    margin-bottom: 10px;
    margin-top: 10px;
    max-height: 400px;
   
}
.logo{
    margin-bottom: 50px;
    margin: 800px;
    margin-top: 20px;
}
.look{
    background-image: url(photo/img1.gif);
    padding: 53px;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: -120px;
    margin-right: -110px;
}
#h11{
    color: #ffffff;
    font-size: 4em;
    font-weight: 500px;
    text-align: center;

}
.p1{
    color: #ffffff;
    font-size: 2em;
    font-weight: 200px;
    text-align: center;
    
}
.contact{
    min-height: 120px;
    background-color: rgb(103, 163, 212);
    margin: 5px;
    text-align: center;
    padding: 20px;
}
.contact2{
    min-height: 200px;
    background-color: rgb(181, 184, 184);
    margin: 5px;
}
#vision{
    font-size: 3em;
    text-align: center;
    font-family: sans-serif;
    padding: 40px;
}
.vision{
background-image: url(photo/img1.jpeg);
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
padding: 5px;
margin-top: 20px;
margin-left: -110px;
    margin-right: -110px;

}

h2{
    text-align: center;
    padding: 15px;
}
#h12{
    font-size: 4em;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}
#p2{
    font-size: 1.5em;
    color: #ffffff;
    text-align: center;
}
#people1{
    color: yellow;
}
#industry1{
    color: yellow;
}
.clients-people-industry{
background-image: url(photo/img5.jpg);
padding: 150px;
margin-top: 0px;
margin-left: -130px;
    margin-right: -110px;
}
#h13{
    font-size: 4em;
    color: yellow;
    text-align: center;
    margin-top: 20px;
}
#influence{
    color: black;
}
#connection{
    color: yellow;
}
.what-we-do{
    background-image: url(photo/img1.jpeg);
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
padding: 60px;
margin-top: 300px;
margin-left: -120px;
    margin-right: -110px;

}
#p3{
    color: black;
    text-align: center;
    font-size: 2em;
}
#rif{
    font-size: 6em;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}
#studios{
    font-size: 4em;
    font-weight: 500;
    color: red;
}
/* .col-md-4{
margin-top: 60px;
margin-bottom: 100px;
border: 2px bold #000000;
border-radius: 50%;
} */
.dot {
    height: 175px;
    width: 175px;
    background-image: url(photo/img3.png);
    background-attachment: fixed;
    border-radius: 50%;
    display: inline-block;
    margin: 100px;
  }
  .dot1 {
    height: 175px;
    width: 175px;
    background-color: #bbb;
    background-image: url(photo/img4.png);
    border-radius: 50%;
    display: inline-block;
    margin: 100px;
  }
  .dot2 {
    height: 175px;
    width: 175px;
    background-color: #bbb;
    background-image: url(photo/img5.png);
    border-radius: 50%;
    display: inline-block;
    margin: 100px;
  }
  #h15{
    font-size: 2.5em;
    color: yellow;
    text-align: center;
    margin-top: 20px;
}
.how-we-think{
    background-image: url(photo/img1.jpeg);
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 60px;
    margin-top: 300px;
    margin-left: -110px;
    margin-right: -120px;
    margin-bottom: 100px;
    

}
#p4{
    color: black;
    text-align: center;
    font-size: 2em;
}
#p5{
    color: black;
    text-align: center;
    font-size: 2em;
    margin-top: 120px;
    margin-bottom: 10px;
    font-family: italic;
}
.thh{
    background-image: url(photo/img5.jpg);
    padding: 200px;
margin-bottom: 400px;
margin-left: -120px;
    margin-right: -110px;

}
.dot3{
    
        height: 175px;
        width: 175px;
        background-image: url(photo/img6.png);
        background-attachment: fixed;
        border-radius: 50%;
        display: inline-block;
        margin: 40px;
      
}
.dot4{
    
    height: 175px;
    width: 175px;
    background-image: url(photo/img7.png);
    background-attachment: fixed;
    border-radius: 50%;
    display: inline-block;
    margin: 40px;
  
}
.dot5{
    
    height: 175px;
    width: 175px;
    background-image: url(photo/img8.png);
    background-attachment: fixed;
    border-radius: 50%;
    display: inline-block;
    margin: 40px;
  
}
.dot6{
    
    height: 175px;
    width: 175px;
    background-image: url(photo/img9.png);
    background-attachment: fixed;
    border-radius: 50%;
    display: inline-block;
    margin: 40px;
  
}
#news{
    background-image: url(photo/img1.jpeg);
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 60px;
    margin-top: 200px;
    margin-left: -110px;
    margin-right: -110px;
    margin-bottom: 300px;
}
#people{
    background-image: url(photo/img1.jpeg);
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 60px;
    margin-top: 200px;
    margin-left: -110px;
    margin-right: -110px;
    margin-bottom: 300px;
}
#h16{
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
}
#ceo{
    font-size: 3em;
    color: #ffffff;
    margin-bottom: 300px;
    font-weight: 750;
    text-align: center;
}
#image{
    margin-top: 60px;
    margin-bottom: 100px;
}
#image2{
    margin-top: 10px;
    margin: 0px;
}
.our-clint{
    background-image: url(photo/img1.jpeg);
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 100px;
    margin-top: 300px;
    margin-left: -110px;
    margin-right: -110px;
    margin-bottom: 100px;
    
}
#h17{
text-align: center;
font-size: 2.5em;

}
#p7{
    color: black;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}
#colon{
    color: gray;
}
.our-office{
    background-image: url(photo/img1.jpeg);
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 60px;
    margin-left: -110px;
    margin-right: -110px;
    margin-bottom: 10px;

}
#cont{
    font-size: 1.5em;
    text-align: center;
    margin-left: -110px;
    margin-right: -110px;
}
